# Dependencias y logs (por si usas npm en el futuro)
node_modules/
npm-debug.log
*.log

# Archivos de sistema operativo
.DS_Store
Thumbs.db
.vscode/

# Archivos de claves (No subir nunca)
js/secrets.js